* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #121212;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}

img {
  width: 20px;
  cursor: pointer;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px #000;
}

h1,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #2a2a2a;
  color: #fff;
}

#add-task {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #03dac6;
  color: #000;
  cursor: pointer;
}

#task-list {
  list-style: none;
}

#task-list li {
  background-color: #2a2a2a;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-list li.completed {
  text-decoration: line-through;
  color: #888;
}

#task-count {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
