* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
}
img,
video {
    width: 100%;
}

.view-1 {
    background-color: #09261d;

    nav {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            img {
                width: 70%;
            }
        }
        .menu {
            display: none;
        }
        .button {
            display: none;
        }
        .hamburger {
            i {
                color: white;
                font-size: 1.8rem;
            }
        }
    }
    .hero-section {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .left {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .title {
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 1.1;
            }

            .explore-btn {
                width: fit-content;
                padding: 1rem 2rem;
                border: 1px solid white;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                &:hover {
                    background-color: white;
                    color: black;
                    transition: 0.8s;
                }
            }
        }

        .right {
            position: relative;
            img {
            }
            .video {
                position: absolute;
                width: 8rem;
                height: 10rem;
                border-radius: 0.6rem;
                overflow: hidden;
                top: 60%;
                left: 5%;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }
}

.middle {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    .top {
        height: 15rem;
        background-color: #09261d;
    }
    .bottom {
        height: 15rem;

        background-color: white;
    }

    .middle-card {
        width: 100%;
        padding: 0 1rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .search-wrapper {
            display: flex;
            gap: 0.6rem;
            flex-direction: column;
            background-color: white;

            border: 1px solid #0d0e131a;
            padding: 1rem 2rem;
            border-radius: 1rem;

            .flex {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                .search-bar {
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    padding: 0.4rem 1rem;
                    border: 1px solid #0d0e131a;
                    background-color: white;
                    border-radius: 2rem;

                    i {
                        color: black;
                    }

                    #search {
                        width: 100%;
                        padding: 0.4rem 0;

                        border: none;
                        outline: none;
                        font-size: 1.1rem;
                    }
                }

                .submit {
                    padding: 0.8rem 1rem;
                    border-radius: 2rem;
                    flex: 1;
                    outline: none;
                    border: none;
                    font-size: 1.2rem;
                    text-align: center;
                    background-color: #ff6314;
                    color: white;
                }
            }
        }

        .dropdown {
            .search-bar {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                padding: 0.4rem 1rem;

                background-color: white;
                border-radius: 2rem;

                i {
                    color: black;
                }

                .button {
                    width: 100%;
                    padding: 0.4rem 0;
                    border: none;
                    outline: none;
                    color: black;
                    font-size: 1.1rem;
                    background-color: transparent;
                }
            }

            .dropdown-content {
                display: none;
            }
        }
    }
}

.view-2 {
    color: black;
    position: relative;

    .container {
        .top {
            h1 {
                font-size: 2rem;
                font-weight: 600;
            }

            .all-btn {
                display: none;
            }
        }
        .bottom {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            .card {
                padding-bottom: 2rem;
                img {
                    border-radius: 0.6rem;
                    object-fit: cover;
                    aspect-ratio: 16/9;
                }

                .first {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .first:nth-child(1) {
                    font-weight: 600;
                    p {
                        font-size: 1.1rem;
                    }
                }
                .first:nth-child(2) {
                    margin-top: 0.4rem;
                }
            }
        }
    }
}

.view-3 {
    background-color: #09261d;
    padding: 4rem 1rem;
    .about-us-box {
        display: flex;
        flex-direction: column-reverse;

        .first-box {
            position: relative;
            margin-top: 3rem;
            .flow {
                position: absolute;
                right: -1rem;
                bottom: -1rem;
                width: 35%;
                border-radius: 50%;
            }
        }

        .second-box {
            .upper-txt {
                font-size: 1.6rem;
            }

            .title {
                margin-top: 1rem;
                font-size: 2.6rem;
                font-weight: 500;
                line-height: 1;
            }
            .des {
                font-size: 1.1rem;
                margin-top: 1rem;
                line-height: 1.4;
            }
            .container {
                padding-bottom: 1rem;

                .card {
                    margin-top: 2rem;
                    display: flex;
                    gap: 1rem;
                    img {
                        width: 15%;
                    }
                    .content {
                        h1 {
                            font-weight: 500;
                        }
                        p {
                            margin-top: 0.4rem;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
}
.view-4 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    color: black;
    .heading {
        font-size: 2rem;
        font-weight: 500;
    }

    .explore {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        .button {
            padding: 0.6rem 1rem;
            border-radius: 2rem;
            border: 1px solid orange;
            color: orange;
            font-size: 1rem;

            &:hover {
                background-color: orange;
                color: white;
                transition: 0.5s;
            }
        }
    }

    .gallery {
        margin-top: 1rem;

        .card-1 {
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;
            margin-top: 1.5rem;
            cursor: pointer;
            border-bottom: 1px solid gray;
            gap: 1rem;
            img {
                border-radius: 1rem;
                aspect-ratio: 16/9;
                object-fit: cover;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                position: relative;

                .arrow {
                    position: absolute;
                    padding: 1rem;
                    background-color: black;
                    border-radius: 50%;
                    top: 2rem;
                    right: 2rem;
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                    transition:
                        opacity 0.3s ease,
                        visibility 0.3s ease;
                    i {
                        font-size: 2rem;
                    }
                }

                .title {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                .des {
                    margin-top: 1rem;
                    color: gray;
                }
                .price {
                    font-size: 1.4rem;
                    span {
                        font-size: 0.9rem;
                        color: gray;
                    }
                }
            }

            &:hover .content .arrow {
                opacity: 1;
                visibility: visible;
            }

            &:hover .content .title {
                color: orange;
            }
        }
        .card-1:nth-child(3) {
            border-bottom: none;
        }
    }
}

.view-5 {
    background-color: #09261d;
    .second {
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h4 {
            font-size: 2rem;
            font-weight: 400;
        }
        .button {
            width: fit-content;
            padding: 0.8rem 1.2rem;
            border: 1px solid white;
            border-radius: 2rem;
            font-size: 1.1rem;
        }
    }
}

.view-6 {
    margin-top: 4rem;
    padding-bottom: 4rem;
    color: black;


    footer{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .first {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            img {
                width: 40%;
            }
            p {
                width: 85%;
                font-size: 1.1rem;
                font-weight: 300;
            }
            .social {
                img {
                    width: 8%;
                    aspect-ratio: 1/1;
                    margin-right: 1rem;
                }
            }
    
            .getforfree {
                color: #ff6314;
                width: fit-content;
                padding: 0.8rem 1.6rem;
                border: 1px solid #ff6314;
                border-radius: 2rem;
                font-size: 1.1rem;
            }
        }

        .second{
            display: flex;
            
           .page{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1;
            h3{
                font-weight: 500;
            }
           }
        }

    }
   
}

@media (min-width: 1024px) {
    section {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .view-1 {
        background-color: #09261d;

        nav {
            padding: 2rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                img {
                    width: 90%;
                }
            }
            .menu {
                display: flex;
                gap: 2rem;
                font-size: 1.2rem;
                a:hover {
                    color: #ff6314;
                    transition: 0.8s;
                }
            }
            .button {
                display: flex;
                padding: 0.8rem 2rem;
                border: 1px solid white;
                border-radius: 2rem;
                font-size: 1.1rem;
                font-weight: 600;

                &:hover {
                    background-color: white;
                    color: black;
                    transition: 0.8s;
                }
            }
            .hamburger {
                display: none;
            }
        }
        .hero-section {
            width: 100%;
            padding-top: 2rem;
            flex-direction: row;
            gap: 0;

            .left {
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 4rem;

                .title {
                    font-size: 5.8rem;
                    font-weight: 500;
                }
            }

            .right {
                width: 40%;
                position: relative;
                img {
                    width: 100%;
                }
                .video {
                    width: 12rem;
                    height: 16rem;

                    left: -16%;
                    top: 45%;
                }
            }
        }
    }

    .middle {
        .middle-card {
            padding: 0 20rem;

            .search-wrapper {
                display: flex;
                gap: 2rem;
                flex-direction: row;
                background-color: white;
                box-shadow: 3px 3px 0.1rem rgba(128, 128, 128, 0.1);
                align-items: center;
                justify-content: center;
                border: 1px solid #0d0e131a;
                padding: 3rem 2rem;
                border-radius: 1rem;

                .flex {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #0d0e131a;
                    border-radius: 3rem;
                    padding: 1rem;
                    gap: 0.6rem;
                    .search-bar {
                        gap: 0.6rem;
                        padding: 0.4rem 1rem;
                        border: none;

                        border-radius: 2rem;

                        #search {
                            width: 100%;
                            padding: 0.4rem 0;

                            border: none;
                            outline: none;
                            font-size: 1.1rem;
                        }
                    }

                    .submit {
                        padding: 0.6rem 1rem;
                        border-radius: 2rem;
                        flex: 1;
                        cursor: pointer;
                    }
                }
            }

            .dropdown {
                .search-bar {
                    padding: 1rem 2rem;
                    border: 1px solid #0d0e131a;
                }
            }
        }
    }

    .view-2 {
        padding-bottom: 8rem;

        .container {
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1 {
                    font-size: 4.6rem;
                    font-weight: 500;
                }

                .all-btn {
                    display: flex;
                    gap: 1rem;
                    color: #ff6314;
                    font-size: 1.2rem;
                    padding: 0.6rem 1.6rem;
                    border: 1px solid #ff6314;
                    border-radius: 2rem;

                    &:hover {
                        color: white;
                        background-color: #ff6314;
                        transition: 0.6s;
                    }
                }
            }
            .bottom {
                margin-top: 2rem;
                display: flex;
                flex-direction: row;
                gap: 2rem;

                .card {
                    padding-bottom: 2rem;
                    flex: 1;
                    position: relative;

                    .image-wrapper {
                        overflow: hidden;
                        border-radius: 0.6rem;
                    }

                    &:hover img {
                        transform: scale(1.2);
                    }

                    .center-btn {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 99;
                        border-radius: 50%;
                        padding: 1rem;
                        background-color: #09261d;
                        color: white;
                        opacity: 0;
                        visibility: hidden;
                        transition:
                            opacity 0.3s ease,
                            visibility 0.3s ease;

                        i {
                            font-size: 1.6rem;
                        }
                    }

                    &:hover .center-btn {
                        opacity: 1;
                        visibility: visible;
                    }

                    img {
                        border-radius: 0.6rem;
                        object-fit: cover;
                        aspect-ratio: 16 / 14;
                        object-position: center center;
                        min-height: 300px;
                        transition: transform 0.4s ease;
                        width: 100%;
                        display: block;
                    }

                    .first {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:nth-child(1) {
                            font-weight: 600;

                            p {
                                font-size: 1.1rem;
                            }
                        }

                        &:nth-child(2) {
                            margin-top: 0.4rem;
                        }
                    }
                }
            }
        }
    }

    .view-3 {
        background-color: #09261d;
        padding: 0 20rem;
        .about-us-box {
            display: flex;
            flex-direction: row;
            gap: 6rem;
            padding: 10rem 0;
            .first-box {
                padding: 0 0;
                width: 40%;
                position: relative;
                margin-top: 0;
                img:nth-child(1) {
                    height: auto;
                }
                .flow {
                    position: absolute;
                    right: -1rem;
                    bottom: -1rem;
                    width: 35%;
                    border-radius: 50%;
                }
            }

            .second-box {
                width: 60%;
                .upper-txt {
                    font-size: 1.6rem;
                }

                .title {
                    font-size: 4rem;
                }
                .des {
                    font-size: 1.2rem;
                    margin-top: 1.6rem;
                    line-height: 1.4;
                }
                .container {
                    padding-bottom: 1rem;

                    .card {
                        margin-top: 2rem;
                        display: flex;
                        gap: 1rem;
                        img {
                            width: 10%;
                        }
                        .content {
                            h2 {
                                font-weight: 500;
                                font-size: 1.8rem;
                            }
                            p {
                                margin-top: 0.4rem;
                                line-height: 1.4;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .view-4 {
        padding-left: 20rem;
        padding-right: 20rem;
        padding-top: 8rem;
        color: black;
        .heading {
            font-size: 4rem;
        }
        .explore {
            .button {
                padding: 1rem 2rem;
                font-size: 1.4rem;
            }
        }
        .gallery {
            margin-top: 2rem;
            padding-bottom: 2rem;
            .card-1 {
                flex-direction: row;
                padding-bottom: 3rem;
                margin-top: 3rem;

                gap: 2rem;
                flex: 1;

                img {
                    width: 50%;
                    border-radius: 1rem;
                    aspect-ratio: 16/9;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;
                    width: 50%;
                    padding: 2rem;
                    justify-content: space-between;

                    .arrow {
                        display: block;
                    }

                    .title {
                        font-size: 3rem;
                        font-weight: 500;
                    }
                    .des {
                        color: gray;
                        font-size: 1.6rem;
                    }
                    .price {
                        font-size: 2rem;
                        span {
                            font-size: 1rem;
                            color: gray;
                        }
                    }
                }
            }
        }
    }

    .view-5 {
        display: flex;
        flex-direction: row;
        gap: 4rem;

        .second {
            padding-bottom: 4rem;
            justify-content: center;

            gap: 3rem;
            h4 {
                width: 80%;
                font-size: 4rem;
                font-weight: 500;
            }
            .button {
                width: fit-content;
                padding: 0.8rem 1.6rem;
                border: 1px solid white;
                border-radius: 2rem;
                font-size: 1.1rem;
            }
        }
    }


    .view-6 {
        margin-top: 4rem;
        padding-bottom: 4rem;
      
    
    
        footer{
            
            display: flex;
            flex-direction: row;
       
    
            .first {
                width: 40%;
               
                img {
                    width: 40%;
                }
                p {
                    width: 80%;
                   
                }
                .social {
                    img {
                        width: 6%;
                       
                    }
                }
        
              
            }
    
            .second{
                width: 60%;
                
            }
    
        }
       
    }


}
