* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;
}

img,
video {
  width: 100%;
}

.view-1 {
  background-color: #09261d;
}
.view-1 nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-1 nav .logo img {
  width: 70%;
}
.view-1 nav .menu {
  display: none;
}
.view-1 nav .button {
  display: none;
}
.view-1 nav .hamburger i {
  color: white;
  font-size: 1.8rem;
}
.view-1 .hero-section {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.view-1 .hero-section .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-1 .hero-section .left .title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
}
.view-1 .hero-section .left .explore-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.view-1 .hero-section .left .explore-btn:hover {
  background-color: white;
  color: black;
  transition: 0.8s;
}
.view-1 .hero-section .right {
  position: relative;
}
.view-1 .hero-section .right .video {
  position: absolute;
  width: 8rem;
  height: 10rem;
  border-radius: 0.6rem;
  overflow: hidden;
  top: 60%;
  left: 5%;
}
.view-1 .hero-section .right .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.middle {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.middle .top {
  height: 15rem;
  background-color: #09261d;
}
.middle .bottom {
  height: 15rem;
  background-color: white;
}
.middle .middle-card {
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.middle .middle-card .search-wrapper {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(13, 14, 19, 0.1019607843);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.middle .middle-card .search-wrapper .flex {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.middle .middle-card .search-wrapper .flex .search-bar {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  border: 1px solid rgba(13, 14, 19, 0.1019607843);
  background-color: white;
  border-radius: 2rem;
}
.middle .middle-card .search-wrapper .flex .search-bar i {
  color: black;
}
.middle .middle-card .search-wrapper .flex .search-bar #search {
  width: 100%;
  padding: 0.4rem 0;
  border: none;
  outline: none;
  font-size: 1.1rem;
}
.middle .middle-card .search-wrapper .flex .submit {
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  flex: 1;
  outline: none;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  background-color: #ff6314;
  color: white;
}
.middle .middle-card .dropdown .search-bar {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  background-color: white;
  border-radius: 2rem;
}
.middle .middle-card .dropdown .search-bar i {
  color: black;
}
.middle .middle-card .dropdown .search-bar .button {
  width: 100%;
  padding: 0.4rem 0;
  border: none;
  outline: none;
  color: black;
  font-size: 1.1rem;
  background-color: transparent;
}
.middle .middle-card .dropdown .dropdown-content {
  display: none;
}

.view-2 {
  color: black;
  position: relative;
}
.view-2 .container .top h1 {
  font-size: 2rem;
  font-weight: 600;
}
.view-2 .container .top .all-btn {
  display: none;
}
.view-2 .container .bottom {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.view-2 .container .bottom .card {
  padding-bottom: 2rem;
}
.view-2 .container .bottom .card img {
  border-radius: 0.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.view-2 .container .bottom .card .first {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-2 .container .bottom .card .first:nth-child(1) {
  font-weight: 600;
}
.view-2 .container .bottom .card .first:nth-child(1) p {
  font-size: 1.1rem;
}
.view-2 .container .bottom .card .first:nth-child(2) {
  margin-top: 0.4rem;
}

.view-3 {
  background-color: #09261d;
  padding: 4rem 1rem;
}
.view-3 .about-us-box {
  display: flex;
  flex-direction: column-reverse;
}
.view-3 .about-us-box .first-box {
  position: relative;
  margin-top: 3rem;
}
.view-3 .about-us-box .first-box .flow {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  width: 35%;
  border-radius: 50%;
}
.view-3 .about-us-box .second-box .upper-txt {
  font-size: 1.6rem;
}
.view-3 .about-us-box .second-box .title {
  margin-top: 1rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1;
}
.view-3 .about-us-box .second-box .des {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.4;
}
.view-3 .about-us-box .second-box .container {
  padding-bottom: 1rem;
}
.view-3 .about-us-box .second-box .container .card {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.view-3 .about-us-box .second-box .container .card img {
  width: 15%;
}
.view-3 .about-us-box .second-box .container .card .content h1 {
  font-weight: 500;
}
.view-3 .about-us-box .second-box .container .card .content p {
  margin-top: 0.4rem;
  line-height: 1.4;
}

.view-4 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  color: black;
}
.view-4 .heading {
  font-size: 2rem;
  font-weight: 500;
}
.view-4 .explore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.view-4 .explore .button {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid orange;
  color: orange;
  font-size: 1rem;
}
.view-4 .explore .button:hover {
  background-color: orange;
  color: white;
  transition: 0.5s;
}
.view-4 .gallery {
  margin-top: 1rem;
}
.view-4 .gallery .card-1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid gray;
  gap: 1rem;
}
.view-4 .gallery .card-1 img {
  border-radius: 1rem;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-4 .gallery .card-1 .content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
}
.view-4 .gallery .card-1 .content .arrow {
  position: absolute;
  padding: 1rem;
  background-color: black;
  border-radius: 50%;
  top: 2rem;
  right: 2rem;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.view-4 .gallery .card-1 .content .arrow i {
  font-size: 2rem;
}
.view-4 .gallery .card-1 .content .title {
  font-size: 1.8rem;
  font-weight: 500;
}
.view-4 .gallery .card-1 .content .des {
  margin-top: 1rem;
  color: gray;
}
.view-4 .gallery .card-1 .content .price {
  font-size: 1.4rem;
}
.view-4 .gallery .card-1 .content .price span {
  font-size: 0.9rem;
  color: gray;
}
.view-4 .gallery .card-1:hover .content .arrow {
  opacity: 1;
  visibility: visible;
}
.view-4 .gallery .card-1:hover .content .title {
  color: orange;
}
.view-4 .gallery .card-1:nth-child(3) {
  border-bottom: none;
}

.view-5 {
  background-color: #09261d;
}
.view-5 .second {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-5 .second h4 {
  font-size: 2rem;
  font-weight: 400;
}
.view-5 .second .button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  border: 1px solid white;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.view-6 {
  margin-top: 4rem;
  padding-bottom: 4rem;
  color: black;
}
.view-6 footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-6 footer .first {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.view-6 footer .first img {
  width: 40%;
}
.view-6 footer .first p {
  width: 85%;
  font-size: 1.1rem;
  font-weight: 300;
}
.view-6 footer .first .social img {
  width: 8%;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}
.view-6 footer .first .getforfree {
  color: #ff6314;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border: 1px solid #ff6314;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.view-6 footer .second {
  display: flex;
}
.view-6 footer .second .page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.view-6 footer .second .page h3 {
  font-weight: 500;
}

@media (min-width: 1024px) {
  section {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .view-1 {
    background-color: #09261d;
  }
  .view-1 nav {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .view-1 nav .logo img {
    width: 90%;
  }
  .view-1 nav .menu {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
  }
  .view-1 nav .menu a:hover {
    color: #ff6314;
    transition: 0.8s;
  }
  .view-1 nav .button {
    display: flex;
    padding: 0.8rem 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .view-1 nav .button:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
  }
  .view-1 nav .hamburger {
    display: none;
  }
  .view-1 .hero-section {
    width: 100%;
    padding-top: 2rem;
    flex-direction: row;
    gap: 0;
  }
  .view-1 .hero-section .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .view-1 .hero-section .left .title {
    font-size: 5.8rem;
    font-weight: 500;
  }
  .view-1 .hero-section .right {
    width: 40%;
    position: relative;
  }
  .view-1 .hero-section .right img {
    width: 100%;
  }
  .view-1 .hero-section .right .video {
    width: 12rem;
    height: 16rem;
    left: -16%;
    top: 45%;
  }
  .middle .middle-card {
    padding: 0 20rem;
  }
  .middle .middle-card .search-wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    background-color: white;
    box-shadow: 3px 3px 0.1rem rgba(128, 128, 128, 0.1);
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(13, 14, 19, 0.1019607843);
    padding: 3rem 2rem;
    border-radius: 1rem;
  }
  .middle .middle-card .search-wrapper .flex {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(13, 14, 19, 0.1019607843);
    border-radius: 3rem;
    padding: 1rem;
    gap: 0.6rem;
  }
  .middle .middle-card .search-wrapper .flex .search-bar {
    gap: 0.6rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 2rem;
  }
  .middle .middle-card .search-wrapper .flex .search-bar #search {
    width: 100%;
    padding: 0.4rem 0;
    border: none;
    outline: none;
    font-size: 1.1rem;
  }
  .middle .middle-card .search-wrapper .flex .submit {
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    flex: 1;
    cursor: pointer;
  }
  .middle .middle-card .dropdown .search-bar {
    padding: 1rem 2rem;
    border: 1px solid rgba(13, 14, 19, 0.1019607843);
  }
  .view-2 {
    padding-bottom: 8rem;
  }
  .view-2 .container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .view-2 .container .top h1 {
    font-size: 4.6rem;
    font-weight: 500;
  }
  .view-2 .container .top .all-btn {
    display: flex;
    gap: 1rem;
    color: #ff6314;
    font-size: 1.2rem;
    padding: 0.6rem 1.6rem;
    border: 1px solid #ff6314;
    border-radius: 2rem;
  }
  .view-2 .container .top .all-btn:hover {
    color: white;
    background-color: #ff6314;
    transition: 0.6s;
  }
  .view-2 .container .bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .view-2 .container .bottom .card {
    padding-bottom: 2rem;
    flex: 1;
    position: relative;
  }
  .view-2 .container .bottom .card .image-wrapper {
    overflow: hidden;
    border-radius: 0.6rem;
  }
  .view-2 .container .bottom .card:hover img {
    transform: scale(1.2);
  }
  .view-2 .container .bottom .card .center-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 1rem;
    background-color: #09261d;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .view-2 .container .bottom .card .center-btn i {
    font-size: 1.6rem;
  }
  .view-2 .container .bottom .card:hover .center-btn {
    opacity: 1;
    visibility: visible;
  }
  .view-2 .container .bottom .card img {
    border-radius: 0.6rem;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 16/14;
    -o-object-position: center center;
       object-position: center center;
    min-height: 300px;
    transition: transform 0.4s ease;
    width: 100%;
    display: block;
  }
  .view-2 .container .bottom .card .first {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .view-2 .container .bottom .card .first:nth-child(1) {
    font-weight: 600;
  }
  .view-2 .container .bottom .card .first:nth-child(1) p {
    font-size: 1.1rem;
  }
  .view-2 .container .bottom .card .first:nth-child(2) {
    margin-top: 0.4rem;
  }
  .view-3 {
    background-color: #09261d;
    padding: 0 20rem;
  }
  .view-3 .about-us-box {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 10rem 0;
  }
  .view-3 .about-us-box .first-box {
    padding: 0 0;
    width: 40%;
    position: relative;
    margin-top: 0;
  }
  .view-3 .about-us-box .first-box img:nth-child(1) {
    height: auto;
  }
  .view-3 .about-us-box .first-box .flow {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    width: 35%;
    border-radius: 50%;
  }
  .view-3 .about-us-box .second-box {
    width: 60%;
  }
  .view-3 .about-us-box .second-box .upper-txt {
    font-size: 1.6rem;
  }
  .view-3 .about-us-box .second-box .title {
    font-size: 4rem;
  }
  .view-3 .about-us-box .second-box .des {
    font-size: 1.2rem;
    margin-top: 1.6rem;
    line-height: 1.4;
  }
  .view-3 .about-us-box .second-box .container {
    padding-bottom: 1rem;
  }
  .view-3 .about-us-box .second-box .container .card {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }
  .view-3 .about-us-box .second-box .container .card img {
    width: 10%;
  }
  .view-3 .about-us-box .second-box .container .card .content h2 {
    font-weight: 500;
    font-size: 1.8rem;
  }
  .view-3 .about-us-box .second-box .container .card .content p {
    margin-top: 0.4rem;
    line-height: 1.4;
    font-size: 1.1rem;
  }
  .view-4 {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 8rem;
    color: black;
  }
  .view-4 .heading {
    font-size: 4rem;
  }
  .view-4 .explore .button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
  .view-4 .gallery {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .view-4 .gallery .card-1 {
    flex-direction: row;
    padding-bottom: 3rem;
    margin-top: 3rem;
    gap: 2rem;
    flex: 1;
  }
  .view-4 .gallery .card-1 img {
    width: 50%;
    border-radius: 1rem;
    aspect-ratio: 16/9;
  }
  .view-4 .gallery .card-1 .content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 50%;
    padding: 2rem;
    justify-content: space-between;
  }
  .view-4 .gallery .card-1 .content .arrow {
    display: block;
  }
  .view-4 .gallery .card-1 .content .title {
    font-size: 3rem;
    font-weight: 500;
  }
  .view-4 .gallery .card-1 .content .des {
    color: gray;
    font-size: 1.6rem;
  }
  .view-4 .gallery .card-1 .content .price {
    font-size: 2rem;
  }
  .view-4 .gallery .card-1 .content .price span {
    font-size: 1rem;
    color: gray;
  }
  .view-5 {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .view-5 .second {
    padding-bottom: 4rem;
    justify-content: center;
    gap: 3rem;
  }
  .view-5 .second h4 {
    width: 80%;
    font-size: 4rem;
    font-weight: 500;
  }
  .view-5 .second .button {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.8rem 1.6rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1.1rem;
  }
  .view-6 {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  .view-6 footer {
    display: flex;
    flex-direction: row;
  }
  .view-6 footer .first {
    width: 40%;
  }
  .view-6 footer .first img {
    width: 40%;
  }
  .view-6 footer .first p {
    width: 80%;
  }
  .view-6 footer .first .social img {
    width: 6%;
  }
  .view-6 footer .second {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */