* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #121212;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}

img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #2a2a2a;
  color: #fff;
}

#add-task {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #03dac6;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-task:hover {
  background-color: #00bfa5;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  background-color: #2a2a2a;
  margin-bottom: 10px;
  padding: 1rem 2rem 1rem 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  user-select: none;
}

#task-list li::before {
  content: "";
  background-image: url("./unchecked.png");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#task-list li.completed::before {
  background-image: url("./checked.png");
}

#task-list li.completed {
  text-decoration: line-through;
  color: #888;
}

#task-count {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
