* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Figtree", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.6rem;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.navbar .logo {
  font-size: 1.8rem;
  font-weight: 600;
}
.navbar .menu {
  display: none;
}
.navbar .hamburger {
  width: 6%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2px;
  margin-right: 0.6rem;
}
.navbar .hamburger .line:nth-child(1) {
  width: 100%;
  background-color: black;
  height: 3px;
  border-radius: 5rem;
}
.navbar .hamburger .line:nth-child(2) {
  width: 100%;
  background-color: black;
  height: 1.5px;
  border-radius: 5rem;
}

.view-1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.view-1 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f889e7;
  padding: 1.4rem 1.4rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.view-1 .content .title {
  font-size: 1.8rem;
  font-weight: 600;
}
.view-1 .content .des {
  width: 100%;
  font-size: 1rem;
}
.view-1 .content .button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #10183a;
  margin-top: 3rem;
  padding: 0.6rem 1rem;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}
.view-1 .content .flower {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 55%;
  left: 70%;
}
.view-1 .content .flower svg {
  width: 10rem;
  height: 10rem;
}
.view-1 .content-1 {
  width: 100%;
  aspect-ratio: 16/5.5;
}
.view-1 .content-1 img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-position: center top;
     object-position: center top;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 .content-2 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #d8d800;
}
.view-1 .content-2 .marque {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.view-1 .content-2 .marque .slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
  position: relative;
}
.view-1 .content-2 .marque .slider h1 {
  white-space: nowrap;
  background-color: #d8d800;
  z-index: 99;
  padding: 0 1rem;
}
.view-1 .content-2 .marque .slider .slide-track {
  display: flex;
  width: 3000px;
  animation: scroll 20s linear infinite;
  align-items: center;
}
.view-1 .content-2 .marque .slider .slide {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 8px;
  transition: transform 0.5s;
}
.view-1 .content-2 .marque .slider .slide img {
  width: 80%;
}
.view-1 .content-2 .marque .slider .slide:hover {
  transform: scale(0.8);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500px);
  }
}
.view-1 .content-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-1 .content-3 .card {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #ffdf2b;
  gap: 1rem;
  align-items: center;
}
.view-1 .content-3 .card .left {
  width: 30%;
}
.view-1 .content-3 .card .left img {
  width: 100%;
  border-radius: 50%;
}
.view-1 .content-3 .card .right .title {
  font-weight: 600;
  font-size: 1.1rem;
}
.view-1 .content-3 .card .right .des {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.view-2 {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .card-2:nth-child(3) .top {
  background-color: #C71E70;
}
.view-2 .card-2:nth-child(4) .top {
  background-color: #0081C6;
}
.view-2 .card-1 {
  padding: 1.6rem 1.6rem;
  background-color: #FAEBC5;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.view-2 .card-1 .title {
  width: 80%;
  font-size: 1.8rem;
}
.view-2 .card-1 .detail {
  padding-top: 3rem;
}
.view-2 .card-1 .leaf {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  bottom: 0;
}
.view-2 .card-1 .leaf svg {
  width: 8rem;
  height: 8rem;
}
.view-2 .card-2 {
  width: 100%;
}
.view-2 .card-2 .top {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  background-color: #D3A7F2;
  border-radius: 0.4rem;
  justify-content: space-between;
}
.view-2 .card-2 .top img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.view-2 .card-2 .top .img1 {
  width: 100%;
  aspect-ratio: 9/7.6;
  -o-object-position: center top;
     object-position: center top;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-2 .card-2 .top .img2 {
  display: none;
}
.view-2 .card-2 .bottom {
  display: none;
}

footer p {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 3em;
}

@media (min-width: 1024px) {
  .main {
    padding: 0.8rem 1.4rem;
  }
  section {
    padding: 2rem 8rem;
  }
  .navbar {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .navbar .logo {
    width: 100%;
  }
  .navbar .logo p {
    font-size: 10.4vw;
    font-weight: 700;
    color: #11193b;
    text-align: center;
  }
  .navbar .menu {
    display: flex;
    gap: 1rem;
  }
  .navbar .menu a {
    color: black;
    background-color: #faebc5;
    padding: 0.4rem 1.5rem;
    border-radius: 10rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .navbar .menu a:nth-child(1):hover {
    background-color: pink;
  }
  .navbar .menu a:nth-child(2):hover {
    background-color: #d8d800;
  }
  .navbar .menu a:nth-child(3):hover {
    background-color: #ffdf29;
  }
  .navbar .menu a:nth-child(4):hover {
    background-color: #edbbf9;
  }
  .navbar .menu a:nth-child(5):hover {
    background-color: #ffbe81;
  }
  .navbar .hamburger {
    display: none;
  }
  .view-1 .content {
    gap: 1rem;
    border-radius: 2rem;
    padding: 3rem 3rem;
  }
  .view-1 .content .title {
    width: 50%;
    font-size: 4rem;
    font-weight: 600;
  }
  .view-1 .content .des {
    width: 40%;
    font-size: 1.6rem;
  }
  .view-1 .content .button {
    margin-top: 2.8rem;
    padding: 0.9rem 1.4rem;
  }
  .view-1 .content .flower {
    top: 35%;
    left: 75%;
  }
  .view-1 .content .flower svg {
    width: 30rem;
    height: 30rem;
  }
  .view-1 .content-1 img {
    border-radius: 2rem;
  }
  .view-1 .content-3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .view-1 .content-3 .card {
    padding: 1.4rem 2.6rem;
  }
  .view-1 .content-3 .card .left {
    width: 25%;
  }
  .view-1 .content-3 .card .left img {
    width: 100%;
    border-radius: 50%;
  }
  .view-1 .content-3 .card .right .title {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .view-1 .content-3 .card .right .des {
    margin-top: 0.4rem;
    font-size: 1.1rem;
  }
  .view-2 {
    padding: 2rem 8rem;
  }
  .view-2 .card-1 {
    padding: 2.4rem 2.6rem;
    background-color: #FAEBC5;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .view-2 .card-1 .title {
    width: 100%;
    font-size: 4rem;
  }
  .view-2 .card-1 .detail {
    padding-top: 6rem;
    font-size: 1.3rem;
    width: 40%;
  }
  .view-2 .card-1 .leaf {
    position: absolute;
    top: -4rem;
    right: -4rem;
    bottom: 0;
  }
  .view-2 .card-1 .leaf svg {
    width: 20rem;
    height: 20rem;
  }
  .view-2 .card-2 {
    width: 100%;
    border-radius: 2rem;
  }
  .view-2 .card-2 .top {
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
  }
  .view-2 .card-2 .top img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .view-2 .card-2 .top .img1 {
    width: 60%;
    aspect-ratio: 9/7.6;
  }
  .view-2 .card-2 .top .img2 {
    width: 35%;
    display: block;
  }
  .view-2 .card-2 .bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .view-2 .card-2 .bottom .h2 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .view-2 .card-2 .bottom .work {
    display: flex;
    gap: 1rem;
  }
  .view-2 .card-2 .bottom .work p {
    padding: 0.8rem 1.4rem;
    background-color: #FAEBC5;
    border-radius: 2rem;
    font-weight: 600;
  }
  footer p {
    font-size: 4rem;
  }
}