* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Figtree", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.6rem;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.navbar .logo {
  font-size: 1.8rem;
  font-weight: 600;
}
.navbar .menu {
  display: none;
}
.navbar .hamburger {
  width: 6%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2px;
  margin-right: 0.6rem;
}
.navbar .hamburger .line:nth-child(1) {
  width: 100%;
  background-color: black;
  height: 3px;
  border-radius: 5rem;
}
.navbar .hamburger .line:nth-child(2) {
  width: 100%;
  background-color: black;
  height: 1.5px;
  border-radius: 5rem;
}

.view-1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.view-1 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f889e7;
  padding: 1.4rem 1.4rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.view-1 .content .title {
  font-size: 1.8rem;
  font-weight: 600;
}
.view-1 .content .des {
  width: 100%;
  font-size: 1rem;
}
.view-1 .content .button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #10183a;
  margin-top: 3rem;
  padding: 0.6rem 1rem;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}
.view-1 .content .flower {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 55%;
  left: 70%;
}
.view-1 .content .flower svg {
  width: 10rem;
  height: 10rem;
}
.view-1 .content-1 {
  width: 100%;
  aspect-ratio: 16/5.5;
}
.view-1 .content-1 img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-position: center top;
     object-position: center top;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 .content-2 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #d8d800;
}
.view-1 .content-2 .marque {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.view-1 .content-2 .marque .slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
  position: relative;
}
.view-1 .content-2 .marque .slider h1 {
  white-space: nowrap;
  background-color: #d8d800;
  z-index: 99;
  padding: 0 1rem;
}
.view-1 .content-2 .marque .slider .slide-track {
  display: flex;
  width: 3000px;
  animation: scroll 20s linear infinite;
  align-items: center;
}
.view-1 .content-2 .marque .slider .slide {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 8px;
  transition: transform 0.5s;
}
.view-1 .content-2 .marque .slider .slide img {
  width: 80%;
}
.view-1 .content-2 .marque .slider .slide:hover {
  transform: scale(0.8);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500px);
  }
}
.view-1 .content-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-1 .content-3 .card {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #ffdf2b;
  gap: 1rem;
  align-items: center;
}
.view-1 .content-3 .card .left {
  width: 30%;
}
.view-1 .content-3 .card .left img {
  width: 100%;
  border-radius: 50%;
}
.view-1 .content-3 .card .right .title {
  font-weight: 600;
  font-size: 1.1rem;
}
.view-1 .content-3 .card .right .des {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.view-2 {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .card-2:nth-child(3) .top {
  background-color: #c71e70;
}
.view-2 .card-2:nth-child(4) .top {
  background-color: #0081c6;
}
.view-2 .card-1 {
  padding: 1.6rem 1.6rem;
  background-color: #faebc5;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.view-2 .card-1 .title {
  width: 80%;
  font-size: 1.8rem;
}
.view-2 .card-1 .detail {
  padding-top: 3rem;
}
.view-2 .card-1 .leaf {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  bottom: 0;
}
.view-2 .card-1 .leaf svg {
  width: 8rem;
  height: 8rem;
}
.view-2 .card-2 {
  width: 100%;
}
.view-2 .card-2 .top {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  background-color: #d3a7f2;
  border-radius: 0.4rem;
  justify-content: space-between;
}
.view-2 .card-2 .top img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.view-2 .card-2 .top .img1 {
  width: 100%;
  aspect-ratio: 9/7.6;
  -o-object-position: center top;
     object-position: center top;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-2 .card-2 .top .img2 {
  display: none;
}
.view-2 .card-2 .bottom {
  display: none;
}

.view-3 {
  padding: 4rem 0;
}
.view-3 .content {
  background-color: #faebc5;
  border-radius: 1rem;
  padding: 2rem 1rem;
}
.view-3 .content .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.view-3 .content .top .title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.view-3 .content .top .card-gallery {
  display: grid;
  gap: 1rem;
}
.view-3 .content .top .card-gallery .card {
  padding: 1.8rem 1rem;
  border-radius: 1rem;
  text-align: start;
  letter-spacing: 0.6px;
}
.view-3 .content .top .card-gallery .card:nth-child(1) {
  background-color: #feadd2;
}
.view-3 .content .top .card-gallery .card:nth-child(2) {
  background-color: #ffbe81;
}
.view-3 .content .top .card-gallery .card:nth-child(3) {
  background-color: #ffbe81;
}
.view-3 .content .top .card-gallery .card:nth-child(4) {
  background-color: #feadd2;
}
.view-3 .content .top .botton-txt {
  text-align: center;
  width: 75%;
}
.view-3 .content .bottom {
  margin-top: 4rem;
}
.view-3 .content .bottom .first {
  display: flex;
  justify-content: space-between;
}
.view-3 .content .bottom .first .div {
  padding: 1rem 1.5rem;
  border-radius: 1.6rem 1.6rem 0 0;
  font-weight: 700;
}
.view-3 .content .bottom .first .div:nth-child(1) {
  background-color: #d8d800;
}
.view-3 .content .bottom .first .div:nth-child(2) {
  background-color: #ffdf2b;
}
.view-3 .content .bottom .second {
  background-color: #d8d800;
  border-radius: 0 0 1.6rem 1.6rem;
}
.view-3 .content .bottom .second .gallery {
  display: grid;
  grid-template-columns: auto auto;
}
.view-3 .content .bottom .second .gallery .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}
.view-3 .content .bottom .second .gallery .item img {
  width: 3rem;
}
.view-3 .content .bottom .second .gallery .item .img-title {
  font-size: 0.8rem;
  text-align: center;
}
.view-3 .content .bottom .second .bottom {
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 2rem 2rem;
}
.view-3 .content .bottom .second .bottom p {
  font-weight: 700;
}
.view-3 .content .bottom .second .bottom .button {
  color: black;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 2rem;
}

.view-4 .container-1 .content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.view-4 .container-1 .content img {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 12/8;
  -o-object-position: 48.4% 27.3%;
     object-position: 48.4% 27.3%;
}
.view-4 .container-1 .content .card1 {
  position: relative;
  background-color: #ffdf2b;
  padding: 1.6rem 1.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.view-4 .container-1 .content .card1 .title {
  font-weight: 600;
}
.view-4 .container-1 .content .card1 .des {
  margin-top: 4rem;
  font-weight: 300;
}
.view-4 .container-1 .content .card1 .flow {
  position: absolute;
  top: -1rem;
  right: -3rem;
}
.view-4 .container-1 .content .card1 .flow svg {
  width: 130px;
  height: 120px;
}
.view-4 .container-1 .content .card2 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.view-4 .container-1 .content .card2 .first {
  padding: 1.6rem 1.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.view-4 .container-1 .content .card2 .first .des {
  margin-top: 4rem;
  font-weight: 300;
}
.view-4 .container-1 .content .card2 .first:nth-child(1) {
  background-color: #eeee39;
}
.view-4 .container-1 .content .card2 .first:nth-child(2) {
  background-color: #feadd2;
}
.view-4 .container-1 .content-2 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 0.6rem;
}
.view-4 .container-1 .content-2 .card3 {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #faebc5;
}
.view-4 .container-1 .content-2 .card3 .title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
.view-4 .container-1 .content-2 .card3 .des {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
.view-4 .container-1 .content-2 .card3 .arrow {
  padding: 2rem 2rem 0 2rem;
}
.view-4 .container-1 .content-2 .card4 {
  padding: 1.6rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d800;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1.6rem;
}
.view-4 .container-1 .content-2 .card4 .title {
  font-size: 1.4rem;
  font-weight: 600;
}
.view-4 .container-1 .content-2 .card4 .button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eeee39;
  padding: 0.8rem 1.2rem;
  display: flex;
  color: black;
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .main {
    padding: 0.8rem 1.4rem;
  }
  section {
    padding: 2rem 8rem;
  }
  .navbar {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .navbar .logo {
    width: 100%;
  }
  .navbar .logo p {
    font-size: 10.4vw;
    font-weight: 700;
    color: #11193b;
    text-align: center;
  }
  .navbar .menu {
    display: flex;
    gap: 1rem;
  }
  .navbar .menu a {
    color: black;
    background-color: #faebc5;
    padding: 0.4rem 1.5rem;
    border-radius: 10rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .navbar .menu a:nth-child(1):hover {
    background-color: pink;
  }
  .navbar .menu a:nth-child(2):hover {
    background-color: #d8d800;
  }
  .navbar .menu a:nth-child(3):hover {
    background-color: #ffdf29;
  }
  .navbar .menu a:nth-child(4):hover {
    background-color: #edbbf9;
  }
  .navbar .menu a:nth-child(5):hover {
    background-color: #ffbe81;
  }
  .navbar .hamburger {
    display: none;
  }
  .view-1 .content {
    gap: 1rem;
    border-radius: 2rem;
    padding: 3rem 3rem;
  }
  .view-1 .content .title {
    width: 50%;
    font-size: 4rem;
    font-weight: 600;
  }
  .view-1 .content .des {
    width: 40%;
    font-size: 1.6rem;
  }
  .view-1 .content .button {
    margin-top: 2.8rem;
    padding: 0.9rem 1.4rem;
  }
  .view-1 .content .flower {
    top: 35%;
    left: 75%;
  }
  .view-1 .content .flower svg {
    width: 30rem;
    height: 30rem;
  }
  .view-1 .content-1 img {
    border-radius: 2rem;
  }
  .view-1 .content-3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .view-1 .content-3 .card {
    padding: 1.4rem 2.6rem;
  }
  .view-1 .content-3 .card .left {
    width: 25%;
  }
  .view-1 .content-3 .card .left img {
    width: 100%;
    border-radius: 50%;
  }
  .view-1 .content-3 .card .right .title {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .view-1 .content-3 .card .right .des {
    margin-top: 0.4rem;
    font-size: 1.1rem;
  }
  .view-2 {
    padding: 2rem 8rem;
  }
  .view-2 .card-1 {
    padding: 2.4rem 2.6rem;
    background-color: #faebc5;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .view-2 .card-1 .title {
    width: 100%;
    font-size: 4rem;
  }
  .view-2 .card-1 .detail {
    padding-top: 6rem;
    font-size: 1.3rem;
    width: 40%;
  }
  .view-2 .card-1 .leaf {
    position: absolute;
    top: -4rem;
    right: -4rem;
    bottom: 0;
  }
  .view-2 .card-1 .leaf svg {
    width: 20rem;
    height: 20rem;
  }
  .view-2 .card-2 {
    width: 100%;
    border-radius: 2rem;
  }
  .view-2 .card-2 .top {
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
  }
  .view-2 .card-2 .top img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .view-2 .card-2 .top .img1 {
    width: 60%;
    aspect-ratio: 9/7.6;
  }
  .view-2 .card-2 .top .img2 {
    width: 35%;
    display: block;
  }
  .view-2 .card-2 .bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .view-2 .card-2 .bottom .h2 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .view-2 .card-2 .bottom .work {
    display: flex;
    gap: 1rem;
  }
  .view-2 .card-2 .bottom .work p {
    padding: 0.8rem 1.4rem;
    background-color: #faebc5;
    border-radius: 2rem;
    font-weight: 600;
  }
  .view-3 {
    padding: 2rem 8rem;
  }
  .view-3 .content {
    border-radius: 2rem;
    padding: 6rem 10rem;
  }
  .view-3 .content .top {
    gap: 2rem;
  }
  .view-3 .content .top .heading {
    font-size: 1.2rem;
  }
  .view-3 .content .top .title {
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    width: 50%;
  }
  .view-3 .content .top .card-gallery {
    gap: 1rem;
    grid-template-columns: auto auto;
    padding: 0 12rem;
  }
  .view-3 .content .top .card-gallery .card {
    padding: 1.8rem 1rem;
    border-radius: 1rem;
    text-align: start;
    letter-spacing: 0.6px;
  }
  .view-3 .content .top .botton-txt {
    text-align: center;
    width: 30%;
    font-size: 1.6rem;
    padding-top: 4rem;
  }
  .view-3 .content .bottom .first {
    display: flex;
    gap: 2rem;
  }
  .view-3 .content .bottom .first .div {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1.6rem 1.6rem 0 0;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
  }
  .view-3 .content .bottom .second .gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4rem 2rem;
  }
  .view-3 .content .bottom .second .gallery .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .view-3 .content .bottom .second .gallery .item img {
    width: 4rem;
  }
  .view-3 .content .bottom .second .gallery .item .img-title {
    width: 60%;
    font-size: 1rem;
    text-align: center;
  }
  .view-3 .content .bottom .second .bottom {
    padding: 0 4rem 4rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .view-3 .content .bottom .second .bottom p {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .view-3 .content .bottom .second .bottom .button {
    color: black;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 100%;
    border-radius: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.1rem;
    padding: 0.6rem 4rem;
  }
  .view-4 .container-1 .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    border-radius: 2rem;
  }
  .view-4 .container-1 .content img {
    aspect-ratio: 0;
    grid-column: 1;
    border-radius: 2rem;
    grid-row: 1/span 2;
  }
  .view-4 .container-1 .content .card1 {
    position: relative;
    background-color: #ffdf2b;
    padding: 2rem 2rem;
    border-radius: 2rem;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    flex-direction: column;
    overflow-x: hidden;
  }
  .view-4 .container-1 .content .card1 .title {
    font-weight: 600;
    font-size: 4rem;
  }
  .view-4 .container-1 .content .card1 .heading {
    font-size: 1.4rem;
  }
  .view-4 .container-1 .content .card1 .des {
    margin-top: 4rem;
    font-weight: 300;
    font-size: 1.2rem;
    width: 70%;
  }
  .view-4 .container-1 .content .card1 .flow {
    position: absolute;
    top: -2rem;
    right: -3rem;
  }
  .view-4 .container-1 .content .card1 .flow svg {
    width: 200px;
    height: 200px;
  }
  .view-4 .container-1 .content .card2 {
    display: flex;
    flex-direction: row;
    grid-column: 2;
    grid-row: 2;
    gap: 2rem;
  }
  .view-4 .container-1 .content .card2 .first {
    padding: 2rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
  }
  .view-4 .container-1 .content .card2 .first .title {
    width: 80%;
    font-size: 2rem;
  }
  .view-4 .container-1 .content .card2 .first .des {
    width: 90%;
    margin-top: 4rem;
    font-weight: 300;
    font-size: 1rem;
  }
  .view-4 .container-1 .content .card2 .first:nth-child(1) {
    background-color: #eeee39;
  }
  .view-4 .container-1 .content .card2 .first:nth-child(2) {
    background-color: #feadd2;
  }
  .view-4 .container-1 .content-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 4rem;
  }
  .view-4 .container-1 .content-2 .card3 {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #faebc5;
  }
  .view-4 .container-1 .content-2 .card3 .title {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    width: 60%;
  }
  .view-4 .container-1 .content-2 .card3 .des {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    width: 60%;
  }
  .view-4 .container-1 .content-2 .card3 .arrow {
    padding: 2rem 2rem 0 2rem;
  }
  .view-4 .container-1 .content-2 .card3 .arrow svg {
    width: 350px;
    height: 350px;
  }
  .view-4 .container-1 .content-2 .card4 {
    padding: 3.5rem 2rem;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 2rem;
    gap: 1.6rem;
  }
  .view-4 .container-1 .content-2 .card4 .title {
    font-size: 1.8rem;
    font-weight: 700;
  }
}